$font: sans-serif;
$color_fondo: rgb(216, 181, 140);
$color_header_and_footer: rgb(153, 112, 79);
$color_animacion_header_letras: white;
$color_header_letras: black;
$color_letra_footer: white;
$color_iconos_footer: white;
$color_fondo_iconos_footer: rgb(216, 181, 140);
$color_fondo_debajo_footer:rgb(216, 181, 140);
$color_animacion_iconos_footer:aqua;

@import './componentes/nanvar';
@import './componentes/footer';
@import './componentes/producto';
@import './componentes/informacion';
@import './componentes/contactos';
@import './componentes/carta';

*{
    box-sizing: border-box;
}


body{
    font-family: $font;
    background-color: $color_fondo;
}