.fondo .card-informacion{
    text-align: center;
}
.fondo .card-informacion h2{
    font-size: 3em;
}

.fondo .card-informacion img{
    width: 100%;
    height: 400px;
    justify-content: center;
    display: flex;
    padding: 10px 5px;
}

.fondo .card-informacion p{
    line-height: 1.5;
    
}
